{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Webee </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/brand/abeille1.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/accueil/bootstrap.min.css' %}"  type="text/css">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/owl.carousel.min.css'%}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/style.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/accueil/test.css' %}">
   </head>

   <body>

    <header>
        <!-- barre du haut Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-2 col-md-10">
                            <div class="logo">
                                <a href="index.html"><img style="width: 15em" src="{% static 'assets/img/brand/logo.png' %}" alt=""></a>

                            </div>
                        </div>
                    </div>

                         <div class="float-right">
                            <div class="login">
                                <a href="accounts/login"><h1 style="margin-top: -2.7em; font-size: 1.3em">Se connecter</h1></a>

                            </div>
                       
                    </div>    
                </div>
            </div>
       </div>
        <!-- barre du haut End -->
    </header>

    <main>
        <!-- Image webee Start -->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">Ne cherchez plus :</h1>
                                    <div class="sous-titre">
                                    <p data-animation="fadeInLeft" data-delay=".6s" style="font-size: 1.5em">Voici l'outil le plus puissant pour cibler vos clients. Et bien plus encore.</p>
                                    </div>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="accounts/register" class="btn hero-btn">Essayer maintenant</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">                               
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{% static 'assets/img/brand/abeilleGroupe.png' %}" alt="">
                                </div>                       
                            </div>
                                 <div class="col-md-12 " style="margin-top: 10em">
                                    <div class="scroll-downs">
                                      <div class="mousey">
                                        <div class="scroller"></div>
                                      </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image webee End-->

        <!-- Quel est notre objectif Start -->
        <div class="generating-area " style="margin-top: 5em">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div id ="objectif" class="section-tittle text-center">
                            <h2>Quel est notre objectif ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-cap">
                                <p>
                                    Notre objectif consiste à fournir la meilleure application possible, qui permettra à votre entreprise de créer efficacement des cibles de routages ainsi que des publicités.
                                </p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-cap">
                                <p>
                                    Développée à l'aide des dernières technologies web, nous avons conçu cette application pour qu'elle soit facile à prendre en main et facilement modifiable en fonction de l'évolution des besoins.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quel est notre objectif End -->

        <!-- Qu'est-il possible de faire avec notre application Start -->
        <div class="generating-area " style="margin-top: 5em">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Qu'est-il possible de faire avec notre application ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                 <!--<img style="width:3.2em;" src="{% static 'assets/img/icons/mail.PNG' %}" alt="">-->
                                 <span class="flaticon-growth"></span> 
                            </div>
                            <div class="generating-cap">
                                <h4>Personnalisation</h4>
                                <p>
                                    Envoyer des e-mails commerciaux entièrement personnalisables directement à vos clients.
                                </p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-growth"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Analyse</h4>
                                <p>
                                    Utiliser des outils statistiques de pointe afin de vous rendre compte en temps réel des commandes reçues.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-project"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Adaptibilité</h4>
                                <p>
                                    N'importe quel employé de DECO-PERSO peut utiliser le logiciel de manière intuitive et adaptée à son poste.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Gestion d'erreur</h4>
                                <p>
                                    Etre averti et traiter les anomalies rapidement et avec efficacité.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Qu'est-il possible de faire avec notre application End -->

        <!-- cahier des charges link Start -->
        <div class="have-project">
            <div class="container">
                <div class="haveAproject">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>Encore hésitant ?</h2>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                           <div class="wantToWork-btn f-right">
                                <a href="https://docs.google.com/document/d/1Fip_s4vwsIU8X0DzCKPhSfZBI1X8yjJcUN-QVMHowA0/mobilebasic" class="btn btn-ans">Voir le cahier des charges</a>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- cahier des charges link End -->

        <!-- Qui sommes nous Start -->
        <div class="tips-triks-area tips-padding">
            <div class="container">
                 <!-- Section-tittle -->
                 <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Qui sommes nous ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6" style="margin:auto;">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'assets/img/brand/abeille1.png' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h5><a href="#">WEBEE</a></h5>
                                <span>Webee est une équipe d'architectes et de dévelopeurs étudiant à l'université d'Evry-Val-d'Essone.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6"style="margin:auto;">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'assets/img/brand/corentin.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h5><a href="#">LE ROUX Corentin</a></h5>
                                <span>Chef de projet - Recette</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6"style="margin:auto;">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'assets/img/brand/adama.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h5><a href="#">SOUMARE Adama</a></h5>
                                <span>Recette</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6"style="margin:auto;">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'assets/img/brand/amira.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h5><a href="#">TAYEB BEY Amira</a></h5>
                                <span>Test</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6"style="margin:auto;">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'assets/img/brand/quentin.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h5><a href="#">CHAIGNAUD Quentin</a></h5>
                                <span>Développement</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6"style="margin:auto;">
                        <div class="single-tips mb-50">
                            <div class="tips-img">
                                <img src="{% static 'assets/img/brand/mathieu.jpg' %}" alt="">
                            </div>
                            <div class="tips-caption">
                                <h5><a href="#">LÊ-HOANG Mathieu</a></h5>
                                <span>Développement</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Qui sommes nous End -->

    </main>
   <footer>

        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                             <div class="footer-copy-right text-center">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
      </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/accueil/vendor/modernizr-3.5.0.min.js'%}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/accueil/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/accueil/popper.min.js'%}"></script>
        <script src="{% static 'assets/js/accueil/bootstrap.min.js'%}"></script>
	    <!-- Jquery Moile Menu -->
        <script src="{% static 'assets/js/accueil/jquery.slicknav.min.js'%}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/accueil/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/js/accueil/slick.min.js'%}"></script>
        <!-- Date Picker -->
        <script src="{% static 'assets/js/accueil/gijgo.min.js'%}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/accueil/wow.min.js'%}"></script>
		<script src="{% static 'assets/js/accueil/animated.headline.js'%}"></script>
        <script src="{% static 'assets/js/accueil/jquery.magnific-popup.js'%}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/accueil/jquery.scrollUp.min.js'%}"></script>
        <script src="{% static 'assets/js/accueil/jquery.nice-select.min.js'%}"></script>
		<script src="{% static 'assets/js/accueil/jquery.sticky.js'%}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets/js/accueil/contact.js'%}"></script>
        <script src="{% static 'assets/js/accueil/jquery.form.js'%}"></script>
        <script src="{% static 'assets/js/accueil/jquery.validate.min.js'%}"></script>
        <script src="{% static 'assets/js/accueil/mail-script.js'%}"></script>
        <script src="{% static 'assets/js/accueil/jquery.ajaxchimp.min.js'%}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets/js/accueil/plugins.js'%}"></script>
        <script src="{% static 'assets/js/accueil/main.js'%}"></script>
        
    </body>
</html>