{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Erreur - 404</title>
	<link rel="stylesheet" href="{% static 'assets/css/404.css'%}" type="text/css">
</head>
<body>
<main class="bsod container">
  <h1 class="neg title"><span class="bg">Error - 404</span></h1>
  <p>Une erreur s'est produite, pour continuer:</p>
  <p>* Retourner au menu.<br />
  * Contacter le support.</p>
  <nav class="nav">
    <a href="#" class="link">index</a>&nbsp;|&nbsp;<a href="#" class="link">support</a>
  </nav>
</main>
</body>
</html>